body{background:#fff;}
/*头部banner*/
.headbanner{height:auto;overflow: hidden; background: url(../images/sign-banner.png) no-repeat;}
.headbanner-i{height: 119px;position: relative;}
.headbanner-i img{position: absolute; left:279px; top: 50px;}
.head{position: relative;}
.sj-top{position: absolute; left: 20px;top: 14px;}
/*忘记密码*/
.forget{height: auto;overflow: hidden; width: 100%;background:#fff;}
.forget .forget-i{height:620px;}
.search{width: 1000px;height: 500px;border:1px solid #b3d9f4;position: relative;}
.search .fd{position: absolute;left: 30px;top:-34px;}
.search .fd1{position: absolute;left: 120px;top:-20px;}
.pass-tip{display:inline-block;margin-top:15px;height: 24px;line-height: 24px;font-size: 12px;padding:0 6px; padding-left:100px;width:1000px; text-align:left; color:#666;letter-spacing:3px;}
.pass-line{display:inline-block;height: 12px;line-height: 12px; width:1000px; text-align:left; border-bottom: 1px dotted #cecece;}
.pass-form{float:left;}
.pass-form form{position: relative;z-index: 1000}
.pass-user input[type="text"],.pass-email input[type="password"]{height:26px;border:1px solid #e4e4e4; width: 240px; line-height: 28px;text-align:left;font-size: 14px;color:#666;padding-left: 5px;}
.pass-form label{height:28px;line-height: 28px;text-align:right;display: inline-block;float: left; font-size: 14px; width: 150px; padding: 0 6px;}
.pass-qr{background:url(../images/pass-qr.png) no-repeat;cursor:pointer;width:124px;height:35px; border:none;margin-left: 174px;line-height: 35px;text-align: center;color:#fff;font-size: 16px; font-weight: bold; letter-spacing:10px; }
.gw-yzm{height:28px;line-height: 28px;text-align:right;display: inline-block; font-size: 14px; width: 150px; padding: 0 6px;}
.ml200{margin-left:200px;}

/*官网验证码*/
.pass-form{ width: 1200px;height:800px; padding-top: 50px; }
.pass-form .identifying-code{ width:auto;height:28px;}
.pass-form .identifying-code .yzm{width:104px;height:28px;vertical-align: middle;line-height:28px;border:1px solid #bdbdbd;padding-left:5px;font-size:14px;}
.identifying-code input{font-size:16px;color:#999;}
.identifying-code .footsize{font-size:15px;color:#2aacd6;height: 30px;line-height: 30px;}
.identifying-code .footsize:hover{text-decoration:underline;}
.identifying-code a{display: inline-block;height: 30px; float: left;}
