.banner{width:100%;height: auto;overflow: hidden;}
.banner.draw{ background: url(../images/draw-banner.png) no-repeat;}
.banner.video{ background: url(../images/video-banner.png) no-repeat;}
.banner.novel{ background: url(../images/novel-banner.png) no-repeat;}
.banner .banner-i{height: 707px;position: relative;}
.banner .banner-i.draw1 i img{position: absolute;left: 356px;top: 283px;}
.banner .banner-i.video1 i img{position: absolute;left: 228px;top: 0px;}
.banner .banner-i.novel1 i img{position: absolute;left: 128px;top: 78px;}

/*大赛简介*/
.introduction{width:100%;height: auto;overflow: hidden; background:#56226d;}
.video2{background:#1f64a4;}
.novel2{background:#29af57;}
.introduction .introduction-i{height: 412px;padding-top: 86px}
.introduction-i dl{width:1210px;padding-right:83px; padding-left:55px;margin-top: 16px; }
.introduction-i dl dt{width:100%;height:72px;line-height: 72px;text-align: center;font-size: 36px;color: #fff;font-weight: bolder;}
.introduction-i dl dd{width:1210px;line-height: 48px;text-align:left;font-size: 20px;color: #fff;text-indent: 2em;height: auto;overflow: hidden;}
/*大赛流程*/
.process{width:100%;height: auto;overflow: hidden; background: #fff;}
.process .process-i{height: 556px;}
.process-i p.lc{width:100%;height:72px;line-height: 72px;text-align: center;font-size: 36px;color: #9d005d;font-weight: bolder;margin-top: 48px;}
.process-i ul.zp{width: 1348px;float: left;margin-top: 39px;}
.process-i ul.zp li{float: left; margin-right: 50px;width: 294px;height: 335px;}
/*奖项设置*/
.award{width:100%;height: auto;overflow: hidden; background: #dfdfdf;}

.award .award-i{padding-top:44px; padding-bottom: 70px;}
.award .award-i dl{width:1185px;height:auto;overflow: hidden;margin-left: 163px;}
.award .award-i dl dt{font-weight: bolder;font-size: 24px;height:48px;line-height: 48px;color:#595757;text-align: left;}
.award .award-i dl dd{font-size: 24px;height:48px;line-height: 48px;text-align: left;color:#595757;text-indent: 2em;}
/*进入报名*/
.sign{width:100%;height: auto;overflow: hidden; background: #fff}
.sign .sign-i{height: 300px; position: relative;}
.sign .sign-i a{display:inline-block;position: absolute;left: 546px;top: 131px; width: 253px;height:54px;line-height: 54px;border:none;background:#9d005d;text-align:center;color: #fff;font-weight:bolder;font-size: 22px;cursor: pointer;}