.headbanner{height:auto;overflow: hidden; background: url(/images/sign-banner.png) no-repeat;}
.headbanner-i{height: 60px;position: relative;}
/*侧导航*/
.sidebar{width:316px;height:100%; background:#32323a;position: absolute; z-index: 1000}
.sidebar ul{height: auto;overflow: hidden;}
.sidebar ul li{height: 66px;  float: left;}
.sidebar ul li a img{display: inline-block;}
.sidebar ul li a{height: 66px;display: inline-block;text-align:center; width: 316px; color: #fff;font-weight: bold;letter-spacing: 2px; line-height: 66px;}


.sidebar ul  .bm{background:  url(/images/side1-1.png) no-repeat 50px center;}
.sidebar ul  .bm1{background:  url(/images/side2.png) no-repeat 50px center;}
.sidebar ul  li .color{color:#95a0aa;}
.sidebar ul  .cur11{background:  url(/images/side2.png) no-repeat 50px center;}
.sidebar ul  .cur22{background:  url(/images/side3.png) no-repeat 50px center;}
.sidebar ul  .cur{background:#1fb5ad  url(/images/side1.png) no-repeat 50px center;}
.sidebar ul  .cur1{background:#1fb5ad  url(/images/side2-1.png) no-repeat 50px center;}
.sidebar ul  .cur2{background:#1fb5ad  url(/images/side3.png) no-repeat 50px center;}
.content{float: left; width:auto;height:900px;  position: relative;*+position: relative;}
.form-left ul.left-form{width:auto;overflow: hidden; margin-left:45%;margin-top:100px;}
.form-left ul.left-form li{ float: left;margin: 6px 0}
.form-left table{width:auto;margin-top:60px;margin-left:360px;border: none;  background: red;}
.form-left table thead th{height: 46px;line-height: 46px;text-align: center;color: #fff;font-weight: bold;border:2px solid #fff;}
.form-left table thead th.zp{background:#fa8564; width: 300px;}
.form-left table thead th.ss{background:#aec785; width: 250px;}
.form-left table thead th.ts{background:#22beef; width: 250px;}
.form-left table thead th.zt{background:#ffc100; width:250px;}
.form-left table thead th.cz{background:#fa8564; width:150px;}
.form-left table tr td.zp1{background:#fdb896; width: 300px;}
.form-left table tr td.ss1{background:#c6d8a2; width: 250px;}
.form-left table tr td.ts1{background:#bef7fd; width: 250px;}
.form-left table tr td.zt1{background:#ffe900; width:250px;}
.form-left table tr td.cz1{background:#fa8564; width:150px;}
.form-left table tr{border:2px solid #fff;}
.form-left table tr td{color: #000;border:2px solid #fff;  height:46px; font-size: 16px; line-height: 46px; text-align: center;}
.form-left{ position: relative; height: 900px;*+position: absolute;}
.gg p{margin-top: 75px;float: left;}
.gg a{background: #1fbba6;height: 42px;line-height: 42px;font-size:16px; color: #fff; font-weight: bold;margin-right: 20px; width: 175px;display: inline-block; text-align: center; letter-spacing: 4px;border-radius:6px;}
.form-left dl{float: left;width:680px; margin-left: 30%; margin-bottom: 54px; position: absolute;}
.form-left dd{width: 120px; margin-left:50px; float: left;}
.form-left dd a{display: inline-block; margin:0 16px;width: 87px;height:86px;}
.form-left dd span{display:inline-block;width: 120px;height:30px; clear: both;}
.enter{background: url(/images/enter.png) no-repeat;}
.novel{background: url(/images/novel.png) no-repeat;}
.draw{background: url(/images/draw.png) no-repeat;}
.video{background: url(/images/video.png) no-repeat;}
.btn-bm{position: absolute;bottom:0;}
.maintain.on{display: block;}
.maintain{display: none;}

